<%- partial('_partial/head') %>
<%- partial('_partial/nav') %>

<section id="wrapper" style="max-width: 640px; padding: 20px;">
    <%- body %>
	<%- partial('_partial/footer') %>
</section>
<%- partial('_partial/last') %>